body {
    background-color: rgb(240, 156, 156);
    color: rgb(64, 67, 67);
    font-family: 'Trebuchet MS', sans-serif;
}
a {
    color: whitesmoke;
}
h1 {
    text-align:center;
}

img {
    width: auto;
    height: 200px
}
.center {
    text-align: center;
    background-color: rgb(162, 66, 84);
    border-radius: 20px;

}


.myportfolio {
    font-size: 60px;
    color: rgb(220, 206, 206)
}

.contactme {
    text-align: center;
    color: whitesmoke
}