body {
    background-color: rgb(240, 156, 156);
    color: rgb(57, 58, 63);
    font-family: 'Trebuchet MS', sans-serif;
}

a {
    color: whitesmoke;
}

h1 {
    text-align:center;
}

.imgcenter img {
 border-radius: 10px;
 border-style: solid;
 border-color:rgb(220, 206, 206);
 border-width: 4px;
 height: 300px;
 width: auto;
 cursor: none;
}

.imgcenter {
    display: flex;
    justify-content: center;
 }

.center {
    text-align: center;
    background-color: rgb(162, 66, 84);
    border-radius: 20px;

}

.myportfolio {
    font-size: 60px;
    color: rgb(220, 206, 206);
}

.contactme {
    text-align: center;
    color: whitesmoke;
}